@charset "utf-8";

@font-face {
    font-family: 'KaushanScript';
    src: url('/font/Kaushan.otf');
}
main  {
    background-image: url("../img/background.jpg");
    background-size: contain;
    margin: 0;
    padding: 100px 0 100px 0;
}
#logo {
    margin: 5px 0 -80px 10px;
}
h4 {
    padding-bottom: 10px;
    border-bottom: 1px lightgray solid ;
}
.row {
    opacity: 0.9;
}
#about {
    padding: 100px 0 100px 0;
}
form#gegevens {
    padding: 50px 200px;
}
footer {
    color: white;
}
#italie {
    font-family: "KaushanScript";
    color: white;
}