@charset "utf-8";

main  {
    background-image: url("../img/achtergrond.jpg");
    background-size: cover;
    padding: 150px 0 150px 0;

}
#logo {
    margin: 0 0 -80px 10px;
}
h4 {
    border-bottom: 1px lightgray solid ;
}
